html, body {
    min-height: 100vh;
}

.bg-cosmic {
    background-color: #fff8e7;
}

.bg-orange {
    background-color: rgba(153, 51, 0, 1);
}

.bg-wool {
    background: url("img/zigzagwooltrans.png");
}

.text-cosmic {
    color: #fff8e7;
}

.text-cosmic :hover {
    color: #ffe8b3;
}
