@media (max-width: 559px) {
    .card-columns {
        column-count: 1;
        -moz-column-count: 1;
        -webkit-column-count: 1;
        max-width: 256px;
    }
}

@media (min-width: 560px) and (max-width: 831px) {
    .card-columns {
        column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        max-width: 528px;
    }
}

@media (min-width: 832px) and (max-width: 1103px) {
    .card-columns {
        column-count: 3;
        -moz-column-count: 3;
        -webkit-column-count: 3;
        max-width: 800px;
    }
}

@media (min-width: 1104px) and (max-width: 1375px) {
    .card-columns {
        column-count: 4;
        -moz-column-count: 4;
        -webkit-column-count: 4;
        max-width: 1072px;
    }
}

@media (min-width: 1376px) and (max-width: 1647px) {
    .card-columns {
        column-count: 5;
        -moz-column-count: 5;
        -webkit-column-count: 5;
        max-width: 1344px;
    }
}

@media (min-width: 1648px) {
    .card-columns {
        column-count: 6;
        -moz-column-count: 6;
        -webkit-column-count: 6;
        max-width: 1616px;
    }
}
